**/*-backups/*
**/*.bak
**/*.kicad_prl
**/*.net
**/place_footprints.log
**/fp-info-cache
**/*.lck
**/.DS_Store
**/.vscode/
**/.pio/
*.pyc
/groundstation/gui/ui/__pycache__
/groundstation/gui/.venv
/groundstation/gui/.idea
/groundstation/gui/__pycache__
/groundstation/gui/flight_data
/simulations/FlightData/flight_data
/simulations/FlightData/.idea
/simulations/FlightData/__pycache__
/groundstation/gui/ui/windows/__pycache__
groundstation/gui/telemetry_log.csv
groundstation/gui/telemetry_log.txt
/groundstation/gui/cache/map_coords
/groundstation/gui/cache/map_coords
/groundstation/gui/logs
/docs/images/antenna_assembly/raw
