**/*-backups/*
**/*.bak
**/*.kicad_prl
**/*.net
**/place_footprints.log
**/fp-info-cache
**/*.lck
**/.vscode/
**/.pio/
**/.idea/
**/.venv/
**/.history/
**/__pycache__/
**/.DS_Store
*.pyc
/groundstation/firmware/.gitignore
/onboard/firmware/.gitignore
/groundstation/gui/flight_data
/simulations/FlightData/flight_data
/groundstation/gui/telemetry_log.csv
/groundstation/gui/telemetry_log.txt
/groundstation/gui/cache/map_coords
/groundstation/gui/cache/map_coords
/groundstation/gui/logs
/docs/images/antenna_assembly/raw
