*.bat linguist-detectable=false
*.html linguist-detectable=false
*.scad linguist-detectable=false
*.ps1 linguist-detectable=false
groundstation/antenna/patch/fab/hooks/pre-commit linguist-detectable=false
*.h linguist-language=C++
