**/pcb/*-backups/*
**/pcb/symbols/*.bak
**/pcb/*.kicad_prl
**/pcb/*.net
**/pcb/place_footprints.log
**/pcb/fp-info-cache
**/pcb/blueprint1.png
**/pcb/blueprint2.png
/groundstation/gui/ui/__pycache__
/groundstation/gui/.venv
/groundstation/gui/.idea
/groundstation/gui/__pycache__